body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e7e7e7;
  }
  
  h1 {
    background-color: #5F9EA0;
    color: white;
    padding: 1em;
  }
  
  a {
      color: #373737;
  }